body {
    background-color: #2c2f33;
    font-family: 'Segoe UI';
    color: #ffffff;
    margin: 0;
    padding: 2;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    background-color: #23272a;
    border-bottom: 1px solid white
}

.navigation h3 {
    margin: 0;
}

.navigation h3:hover {
    color: white;
}

#Name {
    text-align: center;
    margin: 60px 0;
    font-size: 3em;
    letter-spacing: 5px;
    color: white;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 50px;
    padding: 20px;
    background-color: #3b3e44;
    border-radius: 10px;
}

#Introduction {
    max-width: 500px;
    line-height: 1.6;
}

#Introduction h2 {
    margin-bottom: 20px;
    color: white;
}

#image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid white;
}

#Aboutsection {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    line-height: 1.6;
    background-color: #3b3e44;
    border-radius: 10px;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.images img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 3px solid white;
}

.images h2 {
    text-align: center;
    margin-top: 10px;
    color: white;
}

#Abouttext, #actitle, #Education, #Awardtitle, #ContactTitle {
    text-align: center;
    margin: 40px 0;
    font-size: 2.5em;
    color: white;
}

#EducationText, #Awardtext, #linkedin, #gmail, #Github, #addy {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    line-height: 1.6;
    background-color: #3b3e44;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#linkedin a, #Github a, #addy a {
    color: white;
    text-decoration: none;
}


.Mainpage, .About, .Academics, .Contact {
    border-bottom: 10px solid white;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
